@import "tailwindcss";

@theme {
  --color-primary: #6b26d9;
  --color-secondary: hsl(263 70% 60%);
  --color-background: #070707b2;
  --color-shadow: hsl(263 70% 50% / 0.3);
  --gradient-primary: linear-gradient(135deg, hsl(263 70% 50%), hsl(263 70% 60%));
  --gradient-secondary: linear-gradient(135deg, hsl(240 10% 3.9%), hsl(240 3.7% 15.9%));
  --shadow-glow: 0 0 40px hsl(263 70% 50% / 0.3);
  --shadow-elegant: 0 10px 30px -10px hsl(0 0% 0% / 0.5);

}

@layer base {
  :root {
    --gradient-primary: linear-gradient(135deg, hsl(263 70% 50%), hsl(263 70% 60%));
    --gradient-secondary: linear-gradient(135deg, hsl(240 10% 3.9%), hsl(240 3.7% 15.9%));
    --shadow-glow: 0 0 40px hsl(263 70% 50% / 0.3);
    --shadow-elegant: 0 10px 30px -10px hsl(0 0% 0% / 0.5);
  }
}

body{
  background: var(--gradient-secondary);
  height: 100vh;
}
/* HEADER */
.navigation ul li {
  border-bottom: solid 2.5px transparent; 
}
.navigation ul li a:hover {
  color: var(--color-secondary);
}
